@model Dynamic_Action_Links.Models.DALProcessor
    @{
        ViewBag.Title = "Index";
    }

    <!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        
    </head>
    <body>
        @{ 
            foreach (Dynamic_Action_Links.Models.DAL obj in Model.DL) 
            {
                @Html.ActionLink(obj.Name,obj.Action,obj.Controller, null, new {@class = "btn btn-secondary" })
            
            }
        }
        
            @*<%: Html.ActionLink("EDIT", "Action", "Controller", Model.Action)%>
            }*@


            

        </body>
</html>

